{% extends "layout.html" %}

{% block body %}

<h3>Benzerlik Skorlama Sayfası</h3>
<hr> <!-- Çizgi -->
Bu sayfada URL girilecek alanlar vardır. Sonrasında girilen bu URL'lerin metinlerindeki her kelimenin
sayfada kaç defa yer aldığının karşılaştırılması,anahtar kelimelerinin bilgisi hesaplanıp benzerlik skorlaması yazdırılmaktadır.
<hr>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<form url=passdata action="/benzerlik" method="post">

<label for="basic-url">İlk URL'yi giriniz:</label>
<input type="url" url="url" name="url1">
 <hr>  
<label for="basic-url">İkinci URL'yi giriniz:</label>
<input type="url" url="url" name="url2">
<hr>
<button class="btn btn-primary my-2 my-sm-0" type="submit">HESAPLA</button>
</form>
{% if ctrl == True %}
<br><br>
   <div style="text-align:center"><p><b>Benzerlik Skoru</b></p> </div>
  <hr>   
  <div style="text-align:center" aria-valuenow="{{rate }}" aria-valuemin="0" aria-valuemax="100">{{rate}}</div>
  </div>
<hr>  
<br>
<div class="container">
  <div class="row">
    <div class="col">
    <h3>İlk URL için anahtar kelimeler</h3>
      <ul class="list-group" style="text-align">

      {% for key,value in dict1  %}
       
      <li class="list-group-item" >{{key}} ({{value}}) </li>
      {% endfor %}

      </ul>
    </div>
    <div class="col">
    <h3>İkinci URL için anahtar kelimeler</h3>
     <ul class="list-group" style="text-align">

      {% for key,value in dict2  %}
      <li class="list-group-item" >{{key}}  ({{value}}) </li>
        
      {% endfor %}

      </ul>
    </div>
  </div>
   
{% else %}

{% endif %}

{% endblock  body %}

{% block title %}

{% endblock title %}
